//Custom CSS
@import 'custom';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  //background-color: rgb(181, 136, 255);
  background-color: #1B374B;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid black;
}